body {
  background: #eee; 
}
 
.button {
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #999;
  border-radius: 8px;
}
 
.left, .right, .turn {
  padding: 10px;
  margin-bottom: 4px;
}
 
.field {
  letter-spacing: 6px;
}
 
.info {
  font-size: 0.6em;
  margin-bottom: 1em;
}
